#booking-form {
    width: 80%;
    margin-left: 100px;
}
input[type=submit]{
    margin-top: 20px;
    background-color:cornflowerblue;
    color: white;
    padding: 5px;
    font-size: 22px;
    border-radius: 5px;
    width: 400px;
    height: 100px;
    text-align: center;
    margin-left: 25%;
}
article > h4{
    margin-left: 50px;
}
input, label {
    display: block;
}
.start-date, .end-date {
    float: left;
}
.start-date input, .end-date input {
    width: 65%;
    float: left;
    margin-top: 20px;
    height: 50px;
    font-size: 30px;
}
.capacity {
    width: 20%;
    float: left
}
.capacity input {
    width: 50%;
    float: left;
    margin-top: 20px;
    height: 50px;
    font-size: 30px;
}
.features {
    clear: left;
}
.features label, .features input {
    display: inline;
}