.room {
    overflow: hidden;
}

.room-info{
    float: left;
}

.room-details{
    float: right;
}
img{
    float: right;
    border: 2px solid currentColor;
    border-radius: 10px;
    padding: 10px;
    height: 8vw;
    width: 16vw;
    display: block;
    margin: 10px;
}
ul{
    list-style: none;
}
.room-actions p, .room-actions form {
    display: inline;
}
.room-actions button {
    background-color:cornflowerblue;
    color: white;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    width: 100px;
    height: 10px;
    text-align: center;
    line-height: 3px;
}
.room-buttons form {
    margin-right: 5px;
}