header{
    background-color: light pink;
    color: white;
}
nav {
    height: 100%;
    position: fixed;
    list-style: none;
}
html, body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
body {
    color: black;
}